.square {
  aspect-ratio: 1 / 1; /* keep them square */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  overflow: hidden;
  transition: transform 0.2s ease;
  padding: 10%;
}

.square.deleted {
  color: red;
}

.square:not(.deleted) {
  color: black;
}

.square:hover {
  transform: scale(1.05);
}
