.refresh-button {
  padding: 30px;
  background-image: url("../../../assets/icons/sync.png");
  background-color: transparent;
  border-color: transparent;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}


.refresh-button:disabled,
.refresh-button-disabled-state {
  cursor: not-allowed;
  opacity: 0.6;
}

@media screen and  (max-width : 1024px) {
 .refresh-button {
    padding: 25px;
 }
}


@media screen and  (max-width : 425px) {
 .refresh-button {
    padding: 20px;
 }
}